{% extends 'base.html.twig' %}

{% block title %}CB - Login{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}


    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <div class="p-2"></div>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <div class="pt-2">
        <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button>
    </div>
</form>
    <h5 class="">Vous n'êtes pas inscrit ?</h5>

        <p>
            <a href="{{ path('app_register') }}">Register</a>
        </p>
{% endblock %}
